
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-8 col-lg-offset-2" style="margin-top: 15%;align-items: center">
    <div class="jumbotron text-center">
        <h3>Message Has Been Submitted Successfully...!  -:)</h3>
        <p> We will be Contact with you as soon as possible...</p>
    </div>
</div>
