body {
}

#drop-text li a {
    color: rgba(0, 0, 0, .8) !important;
    font-size: 16px;
    font-family: 'Aspira Demi';
}


/* Nav bar Styling */


@font-face {
    font-family: 'BarlowCondensed-Black';
    src: url('vendor/fonts/BarlowCondensed-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Aspira Demi';
    src: url('vendor/fonts/Aspira Demi.otf') format('opentype');
}



.bg-slider-img {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .bg-slider-img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0,.5);
    }

.slider-heading {
    font-size: 60px;
    color: #fff;
    letter-spacing: 1.8px;
    font-weight: 400;
    z-index: 2;
    font-family: 'BarlowCondensed-Black';
}

.slider-desc {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    z-index: 2;
    font-family: 'Aspira Demi';
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.owl-theme .owl-dots .owl-dot {
    display: block;
    zoom: 1;
}

    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
        margin: 9px 7px;
        background: #0122b1;
    }

.slider-bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-setting {
    padding: 236px 0;
}

.content-position {
    position: absolute;
    bottom: 105px;
    left: 0%;
    transform: translateY(-50%);
}

/*  Product Section Styling */

.prodsmyitem {
    text-align: center;
}

    .prodsmyitem h2 {
        color: #ff0000;
        font-size: 120%;
        font-weight: bold;
        padding: 10px;
        margin: 0px;
    }

    .prodsmyitem p {
        font-weight: bold;
        padding: 0px 0px 0px 10px;
        margin: 0px;
    }

.mainbannerwpr {
    margin-bottom: 30px;
}


.mytab {
    border-left: solid 1px #e4e4e4;
    border-right: solid 1px #e4e4e4;
    border-bottom: solid 1px #e4e4e4;
    padding: 20px;
}

.container-border {
    border: solid 1px #fff5ee;
    padding: 40px 50px;
    margin-top: 16vh;
    -webkit-box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
}

.bg-19443 {
    background-image: url('19443.jpg');
    background-repeat: repeat-x,repeat-y;
    opacity: 1.5;
}

.container-border23 {
    border: solid 1px #f76D00;
    padding: 40px 50px;
    margin-top: 5%;
    padding-bottom: auto;
    -webkit-box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
}
/*  table  */


table tr, th, td {
    border: 1px solid gray;
    padding: 10px;
}

table {
    background-color: #eeeeee;
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    border-collapse: separate transition: all 1s;
}

    table tr:nth-child(even) {
        background-color: pink;
    }

    table tr:hover {
        background-color: red;
    }


    table:hover {
        box-shadow: 20px 20px 1px gray;
        background-color: yellow;
    }

/* Product Section styling*/


.product-info {
    list-style-type: none;
    font-size: small;
}

.product-card {
    padding: 3px;
    display: inline-block;
    border: 1px solid lightgray;
    display: inline-block;
}

    .product-card:hover {
        border: 1px solid #a52a2a;
        border-radius: 5px;
        padding: 3px;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(67,0,0,1);
        -moz-box-shadow: 0px 0px 12px 1px rgba(67,0,0,1);
        box-shadow: 0px 0px 12px 1px rgba(67,0,0,1);
    }

    .product-card img {
        width: 200px;
        height: 200px;
        align-self: center;
        padding: 25px;
    }

#Toggling {
    cursor: pointer;
}

#loginForm {
    padding: 5px;
    border: 2px maroon inset;
    display: inline-block;
}

    #loginForm input {
        width: 800px;
    }

    #loginForm label {
        width: 150px;
        display: inline-block;
    }


    #loginForm input[type=checkbox], #loginForm button[type=submit] {
        width: auto;
    }

menu li {
    display: inline;
}

.pre-defined {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content {
    display: none;
}



.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
}

.cart {
    margin-top: 5%;
    margin-left: auto;
}

@media only screen and (max-width: 490px) {
    .cart {
        margin-top: 15%;
    }
}


/* User Profile Setting */
.profile-text {
    font-size: 36px;
    color: darkslategrey;
    text-align: center;
    font-family: 'Aspira Demi';
}

.img-setting {
    top: 0;
    height: 176px;
    width: 176px;
    position: absolute;
    border-radius: 50%;
}

.fileUpload {
    height: 176px;
    width: 176px;
    font-size: 74px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.upload {
    position: absolute;
    top: -2px;
    left: 16px;
    margin: 0;
    padding: 0px;
    font-size: 2em;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    box-sizing: content-box;
    width: 197px;
}
