body{
	background-color:#e2e2e2;
}
table  tr,th,td{
	border:1px solid gray;
	padding: 10px;
	
} 
table{
	background-color: #eeeeee;
	margin: auto;
	width: 60%;
	border-collapse: collapse;
	border-collapse: separate
	transition: all 1s;
} 
table tr:nth-child(even){
background-color: pink;
}
table tr:hover{
	background-color: red;
}
/*(table td:nth-child(odd){
	background-color: red;
}*/
/*table tr td:hover{
	background-color: brown;*/

table:hover{
	box-shadow: 20px 20px 1px gray;
	background-color: yellow;

}
