@using EVSFinalProject.Models
@using EVSFinalProjectClasses.ProductMgmt
@model IEnumerable<EVSFinalProjectClasses.ProductMgmt.Slider>
@{
    ViewBag.Title = "Index";
    List<ProductSummeryModel> products = ViewBag.products;

}

@*----------------Content of Side bar------------------*@

<div>
    <div class="owl-carousel owl-theme">
        @foreach (var v in Model)
        {
            <div class="item">
                <div class="position-relative">
                    <img src="@v.BrandImage" class="w-100" alt="" />
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8 text-left">
                                <div class="content-position">
                                    <h1 class="slider-heading text-center">@v.Title</h1>
                                    <p class="slider-desc">@v.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@******************Mean Work of images here*********************@
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <h3>Online Shop</h3>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div id="prodlist">
                @Html.Partial("~/Views/Shared/_SummeryList.cshtml", products)
            </div>
        </div>
    </div>
</div>

