body {
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.product-info {
    list-style-type: none;
    font-size: small;
}

.product-card {
    padding: 3px;
    display: inline-block;
    border: 1px solid lightgray;
    display: inline-block;
}

    .product-card:hover {
        border: 1px solid #a52a2a;
        border-radius: 5px;
        padding: 3px;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(67,0,0,1);
        -moz-box-shadow: 0px 0px 12px 1px rgba(67,0,0,1);
        box-shadow: 0px 0px 12px 1px rgba(67,0,0,1);
    }

    .product-card img {
        width: 200px;
        height: 200px;
        align-self: center;
        padding: 25px;
    }

#Toggling {
    cursor: pointer;
}

#loginForm {
    padding: 5px;
    border: 2px maroon inset;
    display: inline-block;
}

    #loginForm input {
        width: 800px;
    }

    #loginForm label {
        width: 150px;
        display: inline-block;
    }


    #loginForm input[type=checkbox], #loginForm button[type=submit] {
        width: auto;
    }

menu li {
    display: inline;
}

.pre-defined {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content {
    display: none;
}



.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
}

.cart {
    margin-top: 5%;
    margin-left: auto;
}

@media only screen and (max-width: 490px) {
    .cart {
        margin-top: 15%;
    }
}
/*menu li::after {
        content: " |";
    }*/

/*menu li:last-of-type::after {
        content: "";
    }*/
